body {
  /* font-family: 'Staatliches', cursive;*/
  font-family: 'Permanent Marker', cursive;
  font-family: 'Staatliches', cursive;
  
}

.bg{
    background-color:#04B486;
    
}

.full-height{
    height:100%;
}

.piccol{
    box-sizing:content-box;
    width:600px;
    height:400px;
   
}

.ba {
    border-color:#04B486;
}


 .container {
        position: relative;
        width: 50%;
    }

    .image {
        display: block;
        
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-height: 410px;
        max-width: 610px;
        opacity: 0;
        transition: .5s ease;
        background-color: #04B486;
    }
   

    .container:hover .overlay {
        opacity: 1;
    }

    .text {
        color: white;
        font-size: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
body {
  margin: 0;
  padding: 0;
  background:#fff;
}
 
.nav ul {
  list-style: none;
  background-color:#444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color:#04B486;
}
 
.nav a.active {
  background-color:#fff;
  color:#444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}